doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Hello bs-compile-middleware
    link(rel="stylesheet" href="/styles/share.css")
  body
    block content
    script(src="/scripts/share.js")
