extends ./_layout

block content
  article.main
    h1.title Hello bs-compile-middleware!
    .body
      p It live compiles your resources when you request them from a browser.
      p You can use any preprocessors with full features of Browsersync.
